# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
.venv/
.env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
