{% extends "base.html" %}
{% block title %}Мои заказы{% endblock %}

{% block content %}
<h1>Мои заказы</h1>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Статус</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.created }}</td>
            <td>{{ order.items.all|sum:"price" }} ₸</td>
            <td>
                {% if order.canceled %}Отменён{% elif order.paid %}Оплачен{% else %}В обработке{% endif %}
            </td>
            <td>
                {% if not order.canceled and not order.paid %}
                    <a href="{% url 'orders:order_cancel' order.id %}" class="btn btn-danger btn-sm">Отменить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
