{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1>О нас</h1>
        <p class="lead">
            Добро пожаловать в наш интернет-магазин! Мы рады предложить вам качественные товары и отличный сервис.
        </p>
        <p>
            Наша миссия — сделать покупки удобными, быстрыми и приятными для каждого клиента.
        </p>

        <h3>Свяжитесь с нами</h3>
        <p>
            <a href="https://t.me/wsxern" target="_blank" class="btn btn-primary m-1">Telegram</a>
            <a href="https://vk.com/ernurqq" target="_blank" class="btn btn-info m-1">VK</a>
            <a href="https://instagram.com/Syzd1kovv" target="_blank" class="btn btn-danger m-1">Instagram</a>
        </p>
    </div>
</div>
{% endblock %}
