{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1>Контакты</h1>
        <p class="lead">
            Свяжитесь с нами любым удобным способом:
        </p>
        <ul class="list-unstyled">
            <li>Телефон: +7 (747) 970-19-79</li>
            <li>Email: egbyy66@gmail.com</li>
            <li>Адрес: Ай далада ақ отау, аузы мұрны жоқ отауда</li>
        </ul>

        <h3>Соцсети</h3>
        <p>
            <a href="https://t.me/wsxern" target="_blank" class="btn btn-primary m-1">Telegram</a>
            <a href="https://vk.com/ernurqq" target="_blank" class="btn btn-info m-1">VK</a>
            <a href="https://instagram.com/Syzd1kovv" target="_blank" class="btn btn-danger m-1">Instagram</a>
        </p>
    </div>
</div>
{% endblock %}
